# Calculus for Income Taxation

## *Matthew Q. Knipfer*

---
---

## Introduction

---

## Model

In [25]:
Math(r'f(x) = \alpha \tan^{-1}(\beta x + \gamma) + \delta')

In [27]:
Math(r'F(x) = \int \alpha \tan^{-1}(\beta x + \gamma) + \delta \,dx')

In [40]:
Math(r'F(x) = - \frac{\alpha \log(\beta^2 x^2 + 2 \beta \gamma x + \gamma^2 + 1)}{2\beta} + \frac{\alpha (\beta x + \gamma) \tan^{-1} (\beta x + \gamma)}{\beta} + \delta x + C')

---

## Current Tax Brackets

**Individual**

<table>
    <tr>
        <td>
0 &#8806 x &lt 9,525
        </td>
        <td>
10%
        </td>
    </tr>
    <tr>
        <td>
9,525 &#8806 x &lt 38,700
        </td>
        <td>
12%
        </td>
    </tr>
    <tr>
        <td>
38,700 &#8806 x &lt 82,500
        </td>
        <td>
22%
        </td>
    </tr>
    <tr>
        <td>
82,500 &#8806 x &lt 157,500
        </td>
        <td>
24%
        </td>
    </tr>
    <tr>
        <td>
157,500 &#8806 x &lt 200,000
        </td>
        <td>
32%
        </td>
    </tr>
    <tr>
        <td>
200,000 &#8806 x &lt 500,000
        </td>
        <td>
35%
        </td>
    </tr>
    <tr>
        <td>
x > 500,000
        </td>
        <td>
37%
        </td>
    </tr>
</table>

**Married filing separately**

<table>
    <tr>
        <td>
0 &#8806 x &lt 9,525
        </td>
        <td>
10%
        </td>
    </tr>
    <tr>
        <td>
9,525 &#8806 x &lt 38,700
        </td>
        <td>
12%
        </td>
    </tr>
    <tr>
        <td>
38,700 &#8806 x &lt 82,500
        </td>
        <td>
22%
        </td>
    </tr>
    <tr>
        <td>
82,500 &#8806 x &lt 157,500
        </td>
        <td>
24%
        </td>
    </tr>
    <tr>
        <td>
157,500 &#8806 x &lt 200,000
        </td>
        <td>
32%
        </td>
    </tr>
    <tr>
        <td>
200,000 &#8806 x &lt 300,000
        </td>
        <td>
35%
        </td>
    </tr>
    <tr>
        <td>
x > 300,000
        </td>
        <td>
37%
        </td>
    </tr>
</table>

**Married filing jointly**

<table>
    <tr>
        <td>
0 &#8806 x &lt 19,050
        </td>
        <td>
10%
        </td>
    </tr>
    <tr>
        <td>
19,050 &#8806 x &lt 77,400
        </td>
        <td>
12%
        </td>
    </tr>
    <tr>
        <td>
77,400 &#8806 x &lt 165,000
        </td>
        <td>
22%
        </td>
    </tr>
    <tr>
        <td>
165,000 &#8806 x &lt 315,000
        </td>
        <td>
24%
        </td>
    </tr>
    <tr>
        <td>
315,000 &#8806 x &lt 400,000
        </td>
        <td>
32%
        </td>
    </tr>
    <tr>
        <td>
400,000 &#8806 x &lt 600,000
        </td>
        <td>
35%
        </td>
    </tr>
    <tr>
        <td>
x > 600,000
        </td>
        <td>
37%
        </td>
    </tr>
</table>

**Head of Household**

<table>
    <tr>
        <td>
0 &#8806 x &lt 13,600
        </td>
        <td>
10%
        </td>
    </tr>
    <tr>
        <td>
13,600 &#8806 x &lt 51,800
        </td>
        <td>
12%
        </td>
    </tr>
    <tr>
        <td>
51,800 &#8806 x &lt 82,500
        </td>
        <td>
22%
        </td>
    </tr>
    <tr>
        <td>
82,500 &#8806 x &lt 157,500
        </td>
        <td>
24%
        </td>
    </tr>
    <tr>
        <td>
157,500 &#8806 x &lt 200,000
        </td>
        <td>
32%
        </td>
    </tr>
    <tr>
        <td>
200,000 &#8806 x &lt 500,000
        </td>
        <td>
35%
        </td>
    </tr>
    <tr>
        <td>
x > 500,000
        </td>
        <td>
37%
        </td>
    </tr>
</table>

---

## Limitations

### Political resistance

### Incomprehensibility

### Risk of unforseen outcome

---
---

## Bibliography